html,body {
  background-color: #424242;
}

/*******************/
/**** Projects *****/
/*******************/

.title {
  color: white;
}

.projects {
  background: #424242;
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

.projects-header {
  padding: 10px;
  margin-bottom: 20px;
}

.img-responsive {
  margin: 0px 0px 15px 0px;
}

.btn-projectspage {
    cursor: pointer;
    border-radius: 0;
    border: 1px solid green;
    color: green;
    background-color: transparent;
}

.btn-projectspage:hover, .btn-projectspage:focus, .btn-projectspage:active  {
  color: #424242;
  background-color: green;
  border: 1px solid green;
}

.btn.focus, .btn:focus {
  webkit-box-shadow: none;
  box-shadow: none;
}


.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		background: #666;
		cursor:pointer;
    margin:0px 10px 10px 0px;
	}

  .portfolio-wrapper:hover img {
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }

	.portfolio img {
		max-width:100%;
		position: relative;
		top:0;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

	.portfolio .label {
		position: absolute;
		width: 100%;
		height:60px;
		bottom:-60px;
    -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:         all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
	}

		.portfolio .label-bg {
			background: green;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}

		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:10px 8px;
		}

			.portfolio .text-category {
				display:block;
				font-size:9px;
			}

	.portfolio:hover .label {
    bottom:0px;
  }

.project-header {
  background-color: #424242;
  height: 200px;
}

.project-body {
  overflow-x: hidden;
}

.project-header-title {
  position: relative;
  top: 60px;
}

.project-h1 {
  color: #fefefe;
}

.project-subheading {
  color: gray;
}

.project-section {
  background-color: #fefefe;
  height: 100%;
}

.project-section-detail {
  background-color: #f8f8f8;
  height: 100%;
  padding: 40px 0px 40px 0px;
}

.project-info {
  background: #f0f0f0;
  padding: 25px;
}


.logo-icon {
  padding-top: 20px;
  color: green;
}
