*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Controls
---------------------------------------------------------------------- */

.mixitup-control-active {
    background: #039be5;
    color: #424242;
    border: 1px solid #039be5;
}

.mixitup-control-active:focus {
  border: 1px solid #039be5;
}
