@import url('https://www.fontify.me/wf/427fb052ef1e9342378b7c09f905a764');

body {
  background: black;
  color: white;
}

section {
  margin-top: 60px;
}

.heading, .main, .content, .footer {
  background: rgba(255,0,0,0.05);
  height: 100%;
  width: 100%;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  padding: 25px;
}

.footer {
  margin-bottom: 25px;
}

a, a:visited, a:hover, a:focus, a:active {
  color: #404040;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: red;
}

h1 {
  padding-bottom: 20px;
}

.pause {
  display: inline-block;
  color: white;
  padding: 0;
  margin: 0;
  position: absolute;
  height: auto;
  width: auto;
  top: 15px;
  right: 25px;
  font-size: 20px;
  font-weight: bold;
}

.play {
  display: inline-block;
  visibility: hidden;
  color: white;
  padding: 0;
  margin: 0;
  position: absolute;
  height: auto;
  width: auto;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
}

.link:hover {
  cursor: pointer;
}

.stranger, .things {
  font-family: font79146;
  text-transform: uppercase;
  font-size: 5em;
  color: black;
  padding: 0;
  margin: 0;
  -webkit-text-stroke: 2px red;
}

.things {
  position: relative;
  top: -20px;
}

span.sr {
  font-size: 1.5em;
  position: relative;
  top: 25px;
}

@media screen and (max-device-width: 736px) {
  .pause {
    visibility: hidden;
  }

  .play {
    visibility: visible;
  }
}
